*{
  margin: 0;
  padding: 0;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: gray !important;
  font-size: 13px !important;
  margin-right: 12px !important;

}

.css-yz9k0d-MuiInputBase-input {
  color: gray !important;
  font-size: 13px !important;

}